<% if @error_message.present? %>
  <div class = "index_error_message" ><%= @error_message %></div>
<% end %>

<div class = "index_search_form" >
  <%= form_with url: search_reviews_path, method: :get do |f| %>
    <%= f.text_field :title_query, placeholder: "タイトル" , class:"index_text_field" %>
    <%= f.text_field :author_query, placeholder: "著者" , class:"index_text_field" %>
    <%= f.text_field :isbn_query, placeholder: "isbn" , class:"index_text_field" %><br>
    <%= f.hidden_field :page, value: 1 %>
    <%= f.submit "検索" , class:"index_submit_button" %>
  <% end %>
</div>

<% if @book_counts.present? %>
  <div class = "index_book_counts" >
    <%= @book_counts[:total_hits] %>件ヒット <%= @book_counts[:page] %>/<%= @book_counts[:total_pages] %>ページ
  </div>
  <br>
<% end %>

<% if @books.present? %>

  <% @books.each do |book| %>
    <div class = "index_book" >
      <% if user_signed_in? %>
        <%= link_to new_review_path( book: book,title_query: @search_params[:title_query],author_query: @search_params[:author_query],isbn_query: @search_params[:isbn_query],page: @search_params[:page]), class: "index_book_img_link" do %>
          <img src="<%= book["Item"]["largeImageUrl"] %>" alt="Book Cover" class="index_book_img">
        <% end %>
      <% else %>
        <%= link_to new_user_session_path, class: "index_book_img_link" do %>
          <img src="<%= book["Item"]["largeImageUrl"] %>" alt="Book Cover" class="index_book_img">
        <% end %>
      <% end %>
      <div class = "index_book_info" >
        <% if user_signed_in? %>
          <%= link_to new_review_path( book: book,title_query: @search_params[:title_query],author_query: @search_params[:author_query],isbn_query: @search_params[:isbn_query],page: @search_params[:page]), class: "index_book_img_link" do %>
            <h2><%= book["Item"]["title"] %></h2>
          <% end %>
        <% else %>
          <%= link_to new_user_session_path, class: "index_book_img_link" do %>
            <h2><%= book["Item"]["title"] %></h2>
          <% end %>
        <% end %>
        <p>著者: <%= book["Item"]["author"] %></p>
        <p>出版社: <%= book["Item"]["publisherName"] %></p>
        <p>isbn: <%= book["Item"]["isbn"] %></p>
        <p>ジャンル: <%= book["Item"]["booksGenreName"] %></p>
      </div>
    </div>
  <% end %>

  <div class="index_page_nav">
    <% if @search_params[:page] != "1" %>
      <div class = "index_page_before" >
        <%= form_with url: search_reviews_path, method: :get do |f| %>
          <%= f.hidden_field :title_query, value: @search_params[:title_query] %>
          <%= f.hidden_field :author_query, value: @search_params[:author_query] %>
          <%= f.hidden_field :isbn_query, value: @search_params[:isbn_query] %>
          <%= f.hidden_field :page, value: (@search_params[:page].to_i - 1) %>
          <%= f.submit "前のページへ" %>
        <% end %>
      </div>
    <% end %>

    <% if @search_params[:page].to_i != @book_counts[:total_pages] %>
      <div class = "index_page_next" >
      <%= form_with url: search_reviews_path, method: :get do |f| %>
        <%= f.hidden_field :title_query, value: @search_params[:title_query] %>
        <%= f.hidden_field :author_query, value: @search_params[:author_query] %>
        <%= f.hidden_field :isbn_query, value: @search_params[:isbn_query] %>
        <%= f.hidden_field :page, value: (@search_params[:page].to_i + 1)  %>
        <%= f.submit "次のページへ" %>
      <% end %>
      </div>
    <% end %>
  </div>

<% end %>