<% if @error_message.present? %>
  <div class = "index_error_message" ><%= @error_message %></div>
<% end %>

<div class = "index_search_form" >
  <%= form_with url: search_reviews_path, method: :get do |f| %>
    <%= f.text_field :title_query, placeholder: "タイトル" , class:"index_text_field" %>
    <%= f.text_field :author_query, placeholder: "著者" , class:"index_text_field" %>
    <%= f.text_field :isbn_query, placeholder: "isbn" , class:"index_text_field" %><br>
    <%= f.hidden_field :page, value: 1 %>
    <%= f.submit "検索" , class:"index_submit_button" %>
  <% end %>
</div>

<% if @book_counts.present? %>
  <div class = "index_book_counts" >
    <%= @book_counts[:total_hits] %>件ヒット <%= @book_counts[:page] %>/<%= @book_counts[:total_pages] %>ページ
  </div>
  <div class="index_page_nav">
    <% if @book_counts[:total_pages] != "1" %>
      <% @book_counts[:total_pages].times do |page|%>
        <% page = page + 1 %>
        <div class = "index_page_box" >
          <% if page != @book_counts[:page] %>
            <%= form_with url: search_reviews_path, method: :get do |f| %>
              <%= f.hidden_field :title_query, value: @search_params[:title_query] %>
              <%= f.hidden_field :author_query, value: @search_params[:author_query] %>
              <%= f.hidden_field :isbn_query, value: @search_params[:isbn_query] %>
              <%= f.hidden_field :page, value: (page) %>
              <%= f.submit page %>
            <% end %>
          <% else %>
            <div class = "index_now">
              <%= page %>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>

<% if @books.present? %>
  <% @books.each do |book| %>
    <% unless @isbn_list.include?(book["Item"]["isbn"]) %>
      <div class = "index_book" >
          <%= link_to new_review_path(
            booksGenreName: book["Item"]["booksGenreName"],
            title_query: @search_params[:title_query],
            author_query: @search_params[:author_query],
            isbn_query: @search_params[:isbn_query],
            book_isbn: book["Item"]["isbn"],
            page: @search_params[:page]
          ), class: "index_book_img_link" do %>
            <img src="<%= book["Item"]["largeImageUrl"] %>" alt="Book Cover" class="index_book_img">
          <% end %>
        <div class = "index_book_info" >
            <h2>
              <%= link_to book["Item"]["title"], new_review_path(
                booksGenreName: book["Item"]["booksGenreName"],
                title_query: @search_params[:title_query],
                author_query: @search_params[:author_query],
                isbn_query: @search_params[:isbn_query],
                book_isbn: book["Item"]["isbn"],
                page: @search_params[:page]
              ),class: "index_book_link" %>
            </h2>
          <p>著者: <%= book["Item"]["author"] %></p>
          <p>出版社: <%= book["Item"]["publisherName"] %></p>
          <p>isbn: <%= book["Item"]["isbn"] %></p>
          <p>ジャンル: <%= book["Item"]["booksGenreName"] %></p>
        </div>
      </div>
    <% else %>
      <div class = "index_book2" >
        <img src="<%= book["Item"]["largeImageUrl"] %>" alt="Book Cover" class="index_book_img">
        <div class = "index_book_info" >
          <h2><%= book["Item"]["title"] %></h2>
          <p>著者: <%= book["Item"]["author"] %></p>
          <p>出版社: <%= book["Item"]["publisherName"] %></p>
          <p>isbn: <%= book["Item"]["isbn"] %></p>
          <p>ジャンル: <%= book["Item"]["booksGenreName"] %></p>
        </div>
      </div>
    <% end %>
  <% end %>

  <div class="index_page_nav">
    <% if @book_counts[:total_pages] != "1" %>
      <% @book_counts[:total_pages].times do |page|%>
        <% page = page + 1 %>
        <div class = "index_page_box" >
          <% if page != @book_counts[:page] %>
            <%= form_with url: search_reviews_path, method: :get do |f| %>
              <%= f.hidden_field :title_query, value: @search_params[:title_query] %>
              <%= f.hidden_field :author_query, value: @search_params[:author_query] %>
              <%= f.hidden_field :isbn_query, value: @search_params[:isbn_query] %>
              <%= f.hidden_field :page, value: (page) %>
              <%= f.submit page %>
            <% end %>
          <% else %>
            <div class = "index_now">
              <%= page %>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>

<% end %>