<div class = "review_box" >
  <%= render 'shared/error_messages', model: @review %>
  <div class = "review_book">
    <img src="<%= @review.image_url %>" alt="Book Cover">
    <h2>タイトル：<%=@review.title %>
      <p>著者：<%=@review.author %></p>
      <p>出版社：<%=@review.publisher_name %></p>
      <p>isbn：<%=@review.isbn %></p>
      <p>ジャンル：<%=@review.books_genre_name %></p>
    </h2>
  </div>

  <div>
    <%= form_with url: reviews_path, method: :post, local: true do |f| %>
      <%= f.hidden_field :title, value:@review.title %>
      <%= f.hidden_field :image_url, value:@review.image_url %>
      <%= f.hidden_field :author, value:@review.author %>
      <%= f.hidden_field :publisher_name, value:@review.publisher_name %>
      <%= f.hidden_field :isbn, value:@review.isbn %>
      <%= f.hidden_field :books_genre_name, value:@review.books_genre_name %>
      <%= f.hidden_field :books_genre_id, value:@review.books_genre_id %>
      <%= f.hidden_field :title_query, value:@search_params[:title_query] %>
      <%= f.hidden_field :author_query, value:@search_params[:author_query] %>
      <%= f.hidden_field :isbn_query, value:@search_params[:isbn_query] %>
      <%= f.hidden_field :page, value:@search_params[:page] %>
      
      <div class = "review_item" >
        <div>〇あなたが思ったジャンル1</div>
        <%= f.collection_select(:tag_id1, Tag.all, :id, :name, {}, {class:"genre-select"}) %>
      </div>
      <div class = "review_item">
        <div>〇あなたが思ったジャンル2</div>
        <%= f.collection_select(:tag_id2, Tag.all, :id, :name, {}, {class:"genre-select"}) %>
      </div>
      
      <div class = "review_item">
        <div>〇あらすじ</div>
        <%= f.text_area :item_caption, placeholder:"あらすじ" ,rows:"7" ,maxlength:"500",value: @review.item_caption %>
      </div>
      <div class = "review_item">
        <div>〇感想</div>
        <%= f.text_area :comment, placeholder:"感想" ,rows:"7" ,maxlength:"500" %>
      </div>
      <%= f.submit "投稿" , class:"review_submit_button" %>
    <% end %>
    <div class = "review_page_back" >
      <%= form_with url: search_reviews_path, method: :get do |f| %>
        <%= f.hidden_field :title_query, value: @search_params[:title_query] %>
        <%= f.hidden_field :author_query, value: @search_params[:author_query] %>
        <%= f.hidden_field :isbn_query, value: @search_params[:isbn_query] %>
        <%= f.hidden_field :page, value: (@search_params[:page])  %>
        <%= f.submit "戻る" %>
      <% end %>
      </div>
  </div>
</div>