<div class = "review_box" >
  <%= render 'shared/error_messages', model: @review %>
  <%= render 'shared/review_book', model: @review %>
  
  <div>
    <%= form_with url: reviews_path, method: :post, local: true do |f| %>
      <%= render 'shared/review_form', f: f %>
    <% end %>
  </div>

  <div class = "review_page_back" >
    <%= form_with url: search_reviews_path, method: :get do |f| %>
      <%= f.hidden_field :title_query, value: @search_params[:title_query] %>
      <%= f.hidden_field :author_query, value: @search_params[:author_query] %>
      <%= f.hidden_field :isbn_query, value: @search_params[:isbn_query] %>
      <%= f.hidden_field :page, value: (@search_params[:page])  %>
      <%= f.submit "戻る" %>
    <% end %>
  </div>
</div>